html,body {
    height:100%;
    background: #364554;
    padding-top: 30px;
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c4c4c4;
}

.navbar {
    margin-bottom: 0;
}

.nav > li > a {
    font-size: 25px;
}

#img-nav{
    margin-right: 0;
}

.nav > li > a:hover {
    background-color: lightgrey;
}

.nav > li > a:active {
    background-color: lightgrey;
}

.nav > li > a:visited {
    background-color: lightgrey;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100px;
}

footer p {
    margin-bottom: .25rem;
}
