@(loginForm: Form[(String, String)])(implicit messages: Messages, flash: Flash, request: Request[_])
@main(Messages("login.title")) {
    <div class = "center-block text-center" style="width: 250px">@helper.form(action = routes.TraderAccountController.submitLogin()) {
        @helper.input(loginForm("Username"), 'size -> 20) { (id, name, value, args) =>
            <input type="text" class="form-control" placeholder="Username" name="@name" id="@id" @toHtmlArgs(args)>
        }
        @helper.input(loginForm("Password"), 'size -> 20) { (id, name, value, args) =>
            <input type="password" class="form-control" placeholder="Password" name="@name" id="@id" @toHtmlArgs(args)>
        }
        <input type="submit" class="btn btn-success btn-block" value='@Messages("login.button")'>
    </div>
}
}