@(title: String)(content: Html)(implicit request: Request[_], messages: Messages)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    @* Here's where we render the page title `String`. *@
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/navigation.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/resource-layout.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="@routes.HomeController.home()"><img src="@routes.Assets.versioned("images/home-icon-purple.png")" width="30" height="30">
                    Homepage</a>
                </li>
                <li><a href="@routes.ResourcesController.displayCurrencies()"><img src="@routes.Assets.versioned("images/favicon.png")" width="30" height="30">
                    Currencies</a>
                </li>
                <li><a href="@routes.ResourcesController.displayResources()"><img src="@routes.Assets.versioned("images/favicon.png")" width="30" height="30">
                    Resources</a>
                </li>
            </ul>
        </div>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">@title</h3>
        </div>
    </section>
    @* And here's where we render the `Html` object containing
    * the page content. *@
    @content
    <footer class="footer">
        <div class="container">
            <p style="color: white"> Hello this is a footer </p>
        </div>
    </footer>
</body>
</html>
